.calcButton {
    /*width: 70px;*/
    height: 80px;
    margin: 5px;
    font-size: 30px;
}

.btnfunc {
    background-color: ORANGE;
    border: 1px solid gray;
}
.btnAC {
    background-color: RED;
    color: WHITE;
}
.logLine {
    margin: 10px 0;
}
.resultLog {
    font-weight: bold;
}
#resultDiv div, #resultDiv textarea {
    text-align: right;
}
#resultDiv {
    border: 1px SOLID GRAY;
    margin: 10px 0;
    padding: 5px;
}
#resultDiv textarea {
    width: 100%;
    resize: none;
    padding: 0;
    margin: 0;
    font-size: 40px;
}
#resultDiv textarea, #resultDiv textarea:focus {
    border: 0;
    outline: none;
}
.maindiv {
    width: 700px;
    display: inline-block;
    text-align: right;
}
body {
    text-align: center;
    font-size: 20px;
}

#buttonsDiv {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#expressionDiv {
    height: 30px;
}

@media screen and (max-width: 720px) {
    .maindiv {
        width: 100%;
    }
}