.calcButton {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 30px;
    /*font-weight: bold;*/
}

.btnfunc {
    background-color: ORANGE;
    border: 1px solid gray;
}
.logLine {
    margin: 10px 0;
}
.resultLog {
    font-weight: bold;
}
#resultDiv div, #resultDiv textarea {
    text-align: right;
}
#resultDiv {
    border: 1px SOLID GRAY;
    margin: 10px 0;
    padding: 5px;
}
#resultDiv textarea {
    width: 100%;
    resize: none;
    padding: 0;
    margin: 0;
    font-size: 40px;
}
#resultDiv textarea, #resultDiv textarea:focus {
    border: 0;
    outline: none;
}
.maindiv {
    width: 700px;
    display: inline-block;
    text-align: right;
}
body {
    text-align: center;
    font-size: 20px;
}