a:link, a:visited {
    color: #15C;
    text-decoration: none;
}
a:hover {
    color: #9B2D2D;
    text-decoration: underline;
}
.calcButton {
    height: 2.5em;
    line-height: 2.5em;
    margin: 5px;
    font-size: 1.5em;
    text-align: center;
    border: 1px SOLID #cacaca;
    border-radius: 10px;
    background-color: #efefef;
    /*box-shadow: -3px 5px 0px #ababab;*/
    cursor: pointer;
    outline: none;
}
.btnnum:hover {
    background-color: #e4e4e4;
}
.calcButton:active {
    /*box-shadow: 1px 0 0 #ababab;*/
}
.calcButton:focus {
    border-color: GRAY;
}

.btnfunc {
    background-color: #d4d4d4;
}
.btnfunc:hover {
    background-color: #cccccc;
}
.btnAC {
    background-color: #ff4646;
    color: WHITE;
}
.btnAC:hover {
     background-color: #ff2121;
 }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.logLine {
    margin: 10px 0;
}
.logLine .expressionLog, .logLine .resultLog {
    padding: 5px;
    border: 1px SOLID GRAY;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.logLine .expressionLog:hover, .logLine .resultLog:hover {
    background-color: #f1f1f1;
}
.logLine .expressionLog:active, .logLine .resultLog:active {
    background-color: #d5e4ff;
}
.logLine .expressionLog:focus, .logLine .resultLog:focus {
    border-color: #a0bcf8;
    outline: none;
}
.resultLog {
    font-weight: bold;
}
#resultDiv div, #resultDiv textarea, #historyLog, .maindiv, .historyHeader {
    text-align: right;
}
#resultDiv {
    border: 1px SOLID GRAY;
    margin: 10px 0;
    padding: 5px;
}
#resultDiv textarea {
    width: 100%;
    resize: none;
    padding: 0;
    margin: 0;
    font-size: 2.6em;
}
#resultDiv textarea, #resultDiv textarea:focus {
    border: 0;
    outline: none;
}
.maindiv {
    width: 100%;
    display: inline-block;
}
body {
    font-size: 1.2em;
    margin: 0;
    padding: 10px;
}
body, textarea {
    font-family: Arial, serif;
}

#buttonsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#buttonsDiv {
    width: 500px;
    display: inline-block;
}

#expressionDiv {
    height: 1.2em;
}

h3 {
    margin: 10px 0;
}

.historyHeader {
    border-bottom: 1px SOLID GRAY;
    margin-bottom: 10px;
}

.historyHeader > * {
    display: inline-block;
    vertical-align: middle;
}

.historyHeader > span > img {
    height: 30px;
    cursor: pointer;
}

#centerContainer {
    text-align: center;
}

.footerSlot {
    text-align: center;
    margin: 30px 0 10px;
}
.footerSlot div {
    margin-bottom: 15px;
}

.appicon {
    height: 48px;
}

@media screen and (min-width: 1020px) {
    #centerContainer {
        clear: both;
        text-align: inherit;
    }

    #buttonsDiv {
        float: right;
        margin-left: 20px;
    }

    #historyDiv {
        overflow: hidden;
    }
}

@media screen and (max-width: 720px) {
    .calcButton {
        font-size: 1em;
    }
    .historyHeader {
        margin-top: 20px;
    }
}

@media screen and (max-width: 510px) {
    #buttonsDiv {
        width: 100%;
    }
}

@media screen and (max-height: 550px) {
    .calcButton {
        font-size: .75em;
    }
}

@media screen and (max-height: 450px) {
    #buttonsDiv {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .calcButton {
        font-size: 1em;
    }
    #resultDiv {
        display: inline-block;
        float: left;
        width: 45%;
    }
    #centerContainer {
        width: 45%;
        display: inline-block;
    }
    .historyHeader {
        margin-top: 20px;
    }
}
